html {
    scroll-behavior: smooth;
}

body {
    margin: 40px 120px;
    background-color: #161313;
    color: white;
    box-sizing: border-box;
}

header {
    background-image: url("./images/headerpic.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    header {
        height: 55vh;
    }
}


section {
    padding: 60px 0;
}

/* Masonry overlay */

.masonry {
    column-count: 4;
    column-gap: 12px;
}

.card {
    width: 100%;
    display: inline-block;
    margin: 0 0 10px;
    break-inside: avoid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}


.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(148, 103, 103, 0.35);
    pointer-events: none;
}

.card:hover img {
    transform: scale(1.1);
}

/* --------- */

.fixed-part {
    position: fixed;
    top: 70%;
    left: 4%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left center;
    font-size: 20px;
    white-space: nowrap;
    z-index: 10;
    color: white;
}

footer {
    text-align: center;
    padding: 40px 0;
    color: white;
}


@media (max-width: 1024px) {
    body {
        margin: 20px 40px;
    }
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    body {
        margin: 10px 20px;
    }
    .masonry {
        column-count: 1;
    }
    .fixed-part {
        display: none;
    }
}
